<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="3" name="Test" parallel="methods">
		<classes>
			<class name="scripts.TC1_EditUserDetails" />
			<class name="scripts.TC2_launchOrangeHRM" />
			<class name="scripts.TC3_forgotPassword" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
